*,
*::after,
*::before {
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.nav {
  width: 100%;
  padding-top: 1.3rem;
  height: 10rem;
  display: flex;
  background-color: #F2CA51;
}
.nav__links {
  margin-left: 20%;
  margin-bottom: 5%;
}
.nav ul {
  padding-top: 3em;
}
.nav__links {
  display: flex;
}
.nav__links li {
  list-style-type: none;
}
.nav__links li a {
  color: #444245;
}
.nav__links-link {
  margin-right: 3.5rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.nav__links-img {
  cursor: pointer;
}
.nav__links-dropdown {
  margin-right: 0.3rem;
}
.nav__links-dropdown-img {
  cursor: pointer;
  height: 3.5rem;
  padding-top: 0.8rem;
  margin-right: 2rem;
}
.nav__logo {
  position: relative;
  flex-direction: column;
}
.nav__logo-img {
  left: 0rem;
  top: 50%;
  transform: translateY(-30%);
  position: absolute;
}
.nav__logo-title {
  margin-left: 14rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.9rem;
}
.nav__logo-subtitle {
  margin-left: 14.2rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.dropdown {
  display: flex;
  position: relative;
}
.dropdown__menu {
  margin-top: 16%;
  position: absolute;
  display: none;
  background-color: #F2BA30;
  top: 50%;
  width: 80%;
  text-align: center;
}
.dropdown__menu-nav {
  font-size: 1.4rem;
  width: 100%;
  top: 45%;
  left: 0;
}
.dropdown__menu-nav-item {
  border: 2px solid #F29057;
  padding: 0.5rem;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.dropdown__menu-nav-item-link {
  text-align: center;
  font-size: 1.4rem;
  padding-right: 1.2rem;
  margin: 0 auto;
  text-decoration: none;
  color: #444245;
  font-weight: 500;
}
.dropdown__menu-item {
  border: 2px solid #F29057;
  margin-bottom: 1rem;
  padding: 1rem;
}
.dropdown__menu-item:last-child {
  margin-bottom: 3rem;
}
.dropdown__menu-item-link {
  font-weight: 500;
  color: #444245;
  font-size: 1.6rem;
  text-decoration: none;
}

.header {
  min-height: 315px;
  background: #F5F5F5;
}
.header-img {
  margin-top: 2rem;
  float: left;
  margin-right: 5rem;
}
.header-title {
  padding-top: 2.5rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.9rem;
  text-align: center;
}
.header-subtitle {
  margin-top: 3.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
}

.modal__input {
  z-index: 1000;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #F2CA51;
  min-width: 30rem;
}
.modal__input form {
  margin-top: 1.5rem;
}
.modal__input form input {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  width: 50%;
  display: block;
  padding: 0.3rem 0.5rem;
}
.modal__input-title {
  color: #000;
  font-weight: 500;
  font-size: 2rem;
  margin-top: 2rem;
}
.modal__input-subtitle {
  color: #000;
  font-weight: 500;
  font-size: 1.6rem;
  margin-top: 1rem;
}
.modal__input-btn {
  background-color: #F2BA10;
  border: 2px solid #F29057;
  border-radius: 0.5rem;
  padding: 0.7rem 1.2rem;
  display: block;
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}
.modal__input-help {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
}
.modal__input-help a {
  color: blue;
}
.modal__input-register {
  cursor: pointer;
  list-style-type: none;
  color: blue;
  text-decoration: underline;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.modal__input-exit {
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
}

.modal__register {
  z-index: 1000;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #F2CA51;
  width: 40rem;
}
.modal__register-input {
  margin-top: 1rem;
}
.modal__register form input {
  padding: 0.4rem 0.6rem;
  display: block;
  margin-top: 1rem;
  width: 50%;
}

.cards {
  background-color: #F5F5F5;
  padding-top: 3rem;
}

.cards__carusel {
  margin: 0 auto;
}
.cards__carusel-carusel {
  display: flex;
  position: relative;
  justify-content: space-around;
}
.cards__carusel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.cards__carusel-arrow_left {
  left: 0;
}
.cards__carusel-arrow_right {
  right: 0;
}
.cards__carusel-title {
  display: block;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.9rem;
  text-align: center;
  margin-bottom: 2.1rem;
}
.cards__carusel__item {
  position: relative;
}
.cards__carusel__item img {
  width: 219px;
}
.cards__carusel__item-title {
  top: 3%;
  left: 1%;
  position: absolute;
  background-color: #F2CA51;
  padding: 0.2rem 2.6rem;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.arrow {
  height: 8rem;
  cursor: pointer;
  padding-top: 5rem;
}

.prev {
  left: 0;
  margin-right: 8%;
  display: block;
}

.next {
  right: 0;
}

.cards__right {
  min-width: 26.1rem;
}
.cards__right__cards {
  flex-direction: column-reverse;
}
.cards__right__cards__card {
  border-radius: 1rem;
  max-width: 23rem;
  position: relative;
}
.cards__right__cards__card-title {
  background-color: #F2CA51;
  padding: 0.3rem 2rem;
  border-radius: 1rem;
  position: absolute;
  top: 5%;
  left: 5%;
  font-family: Rubik;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}
.cards__right__cards__card-subtitle {
  padding-top: 1.5em;
  text-align: center;
  font-family: Rubik;
  font-size: 1.6rem;
  font-weight: 400;
}

.cards__choice {
  padding-top: 3rem;
  background: #F5F5F5;
}

.cards__choice__nav {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  padding-top: 3rem;
}
.cards__choice__nav span {
  font-family: Rubik;
  font-size: 2.4rem;
  font-weight: 400;
}
.cards__choice__nav-btn {
  background: #6DBCD9;
  border: none;
  border-radius: 1rem;
  padding: 0.7rem 1.2rem;
  font-size: 1.6rem;
}
.cards__choice__nav-btn__dropdown {
  background: #F2CA51;
  height: 3rem;
  border-radius: 1rem;
}
.cards__choice__nav-btn__dropdown li {
  font-family: Rubik;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 3rem;
  text-align: center;
  padding-left: 15%;
  list-style-type: none;
}

.cards__choice__cards {
  display: flex;
}
.cards__choice__cards__card {
  cursor: pointer;
  margin-right: 3rem;
  margin-top: 5em;
  min-width: 25.1rem;
  width: 25.1rem;
  text-align: center;
  background-color: #FFF;
  border-radius: 2rem;
}
.cards__choice__cards__card__header {
  position: relative;
}
.cards__choice__cards__card__header-item {
  margin-top: 1.6rem;
  position: relative;
}
.cards__choice__cards__card__header-title {
  position: absolute;
  top: 12%;
  left: 10%;
  font-family: Rubik;
  font-size: 1.4rem;
  font-weight: 400;
  background: #F2CA51;
  padding: 0.4rem 3.5rem;
  border-radius: 1rem;
}
.cards__choice__cards__card__body {
  position: relative;
}
.cards__choice__cards__card__body-title {
  margin-top: 0.5rem;
  font-family: Rubik;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
}
.cards__choice__cards__card__body-subtitle {
  font-family: Rubik;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
}
.cards__choice__cards__card__body-descr {
  padding: 1.5rem 1rem 0rem 1rem;
  text-align: left;
  font-family: Rubik;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
}
.cards__choice__cards__card__body hr {
  display: block;
  margin-top: 3rem;
  height: 0.2rem;
  width: 23.1rem;
}
.cards__choice__cards__card__footer {
  display: flex;
  position: relative;
}
.cards__choice__cards__card__footer-number {
  position: absolute;
  right: 5%;
  bottom: 20%;
  font-family: Rubik;
  font-size: 2rem;
  font-weight: 400;
}
.cards__choice__cards__card__footer__stars {
  padding-left: 1.5rem;
}

html {
  color: #444245;
  font-size: 10px;
}

.row {
  width: 100%;
  justify-content: space-around;
  display: flex;
}

.container {
  max-width: 100%;
  padding: 0rem 16rem 0rem 18.5rem;
}/*# sourceMappingURL=style.css.map */