.footer {
    background: $footer;
    height: 7.5rem;
    position: relative;
    .footer__logo {
        display: flex;
        align-items: center;
        &-img {
            left: 10%;
            top: 10%;
            position: absolute;
            img {
                width: 7rem;
            }
        }
        &-title {
            color: #FFF;
            position: absolute;
            left: 16%;
            top: 40%;
            font-family: Rubik;
            font-size: 1.8rem;
            font-weight: 600;      
        }
    }
}