.header {
    min-height: 315px;
    background: $sitecolor;
    &-img {
        margin-top: 2rem;
        float: left;
        margin-right: 5rem;
    }
    &-title {
        padding-top: 2.5rem;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 2.9rem;
        text-align: center;   
    }
    &-subtitle {
        margin-top: 3.5rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 2rem;
        text-align: center;        
    }
}