.modal__input {
    z-index: 1000;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: $back-color;
    min-width: 30rem;
    form {
        margin-top: 1.5rem;
        input {
            margin-top: 0.5rem;
            font-size: 1.3rem;
            width: 50%;
            display: block;
            padding: .3rem .5rem;
        }
    }
    &-title {
        color: #000;
        font-weight: 500;
        font-size: 2rem;
        margin-top: 2rem;
    }
    &-subtitle {
        color: #000;
        font-weight: 500;
        font-size: 1.6rem;
        margin-top: 1rem;   
    }
    &-btn {
        background-color: $button-bc;
        border: 2px solid $orange;
        border-radius: .5rem;
        padding: .7rem 1.2rem;
        display: block;
        margin-top: 1.5rem;
        font-size: 1.4rem;
        font-weight: 500;
        cursor: pointer;
    }
    &-help {
        font-size: 1.3rem;
        font-weight: 400;
        margin-top: 1rem;
        margin-bottom: 0.3rem;
        a {
            color: blue;
        }
    }
    &-register {
        cursor: pointer;
        list-style-type: none;
        color: blue;
        text-decoration: underline;
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
    }
    &-exit {
        position: absolute;
        right: 5%;
        top: 5%;
        cursor: pointer;
    }
}