.questions {
    margin-top: 2.5rem;
    .questions__nav {
        .container {
            .questions__line {
                display: flex;
                .line__category {
                    font-family: Rubik;
                    font-size: 2.4rem;
                    font-weight: 400;          
                }
                .question__them {
                    font-family: Rubik;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.9rem;
                    width: 23rem;
                }
                .them__descr {
                    font-family: Rubik;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.9rem;
                    width: 35rem;
                }
            }
        }
    }
}   